.wrapper {
  padding: 20px;
  background-color: white;
}

.title {
  font-size: 1.1em;
}

.searchInput {
  width: 100%;
}

.errorWrapper {
  font-size: 0.8em;
  background-color: white;
  padding: 10px;
  textarea {
    width: 100%;
    color: #444;
    background-color: #ccc;
    border: none;
  }
}